---
layout: default
---

<div class="home">

  <h1 class="page-heading">Recommendations</h1>

  <ul class="post-list">
    {% for rec in site.data.recommendations %}
      <li>
        <h2>
          <a class="post-link" href="{{ site.baseurl }}/details.html#{{ rec.title | slugify }}">{{ rec.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Applications</h1>
    {% assign apps = site.data.recommendations | uniq_tags: 'for' | sort %}
  <ul class="post-list">
    {% for app in apps %}
      <li>
         <h2 id="{{ app | slugify }}">{{ app }}</h2>
         <ul>
           {% for rec in site.data.recommendations %}
           {% if rec.for == app or rec.for contains app %}
             <li><a href="{{ site.baseurl }}/details.html#{{ rec.title | slugify }}">{{rec.title}}</a>{% if rec.type!=null %} ({{ rec.type }}){% endif %}</li>
           {% endif %}
           {% endfor %}
         </ul>
      </li>
    {% endfor %}

  </ul>

  <h1 class="page-heading">Types</h1>
    {% assign types = site.data.recommendations | uniq_tags: 'type' | sort %}
  <ul class="post-list">
    {% for type in types %}
      <li>
         <h2 id="{{ type | slugify }}">{{ type }}</h2>
         <ul>
           {% for rec in site.data.recommendations %}
           {% if rec.type == type or rec.type contains type %}
             <li><a href="{{ site.baseurl }}/details.html#{{ rec.title | slugify }}">{{rec.title}}</a></li>
           {% endif %}
           {% endfor %}
         </ul>
      </li>
    {% endfor %}

  </ul>


  <h1 class="page-heading">People</h1>
    {% assign people = site.data.recommendations | uniq_tags: 'by' | sort %}
  <ul class="post-list">
    {% for person in people %}
      <li>
         <h2 id="{{ person | slugify }}">{{ person }}</h2>
         <ul>
           {% for rec in site.data.recommendations %}
           {% if rec.by == person or rec.by contains person %}
             <li><a href="{{ site.baseurl }}/details.html#{{ rec.title | slugify }}">{{rec.title}}</a></li>
           {% endif %}
           {% endfor %}
         </ul>
      </li>
    {% endfor %}

  </ul>

</div>
